*{  
    font-family: Montserrat;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    cursor:default;
}
a{cursor: pointer;}

header{
   max-width: 100vw;
   background-color:#26335D; 
   
   
}
body{
   width: 100%;
   
}

.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 30px;
  
}
.navbar{ 
   
    max-width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.leftnav{
    display: flex;
    align-items: center;
}
.leftnav h2{
    
    font-size:24px;
    line-height:32px;
    color: #FFFFFF;
}

.rightnav__container{
    display: flex;
    align-items: center;
    gap: 60px;
    
  
}
.hamIcons{
    display: none;
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1;
}
.hamIcons .openIcon,.hamIcons .closeIcon{
    color: rgb(255, 255, 255);
    font-size: 30px;
   
}
.hamIcons .closeIcon{
    display: none;
}
.text ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.text ul li a:hover{    
    color: #1BA0AB;
}
.text ul li{
    list-style-type: none;
    font-size: 14px;
}
.text ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    align-items: center;

}
.text{
    width: 55%;
}
.button{
    display: flex;
    gap: 30px;
    
}
.login{
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    line-height: 24px;
}.login:hover{    
    color: #1BA0AB;
}
.joinus{
    background-color: #1BA0AB;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 7px ;
    padding: 16px 12px;
    display: flex;
    width: 120px;
    gap: 10PX;
    align-items: center;
    border: 0;
    cursor: pointer;
   
}
.joinus span{
    font-size: 15px;
    

}




/* navigation bar finish */





.first_page{
    
    background-color:#26335D;
}

.homePage{
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.left{
    width: 100%;
    
}.box{
    width:573px;
    
    gap: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;

}
.box h5{
    color: #1BA0AB;
}
.box h1{
    color: #FFFFFF;
    font-size: 58px;
    
}
.box h4{
    color: #FFFFFF;
    font-weight: 600;
}
.btn{
    display: flex;
    gap: 12px;
    
}

.btn .fst_btn{
    border: 2px solid #1BA0AB;
    background-color: #1BA0AB;
    height: 50px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 24px;
    padding: 15px 25px 15px 25px;
    border-radius: 7px ;
    opacity: 0px;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}
.btn .snd_btn{
    border: 2px solid #1BA0AB;
    background-color: #26335D;
    height: 50px;
    color: #1BA0AB;
    font-size: 14px;
    line-height: 24px;
    padding: 15px;
    border-radius: 7px ;
    opacity: 0px;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    
    
}
.btn .snd_btn:hover, .btn .fst_btn:hover {
    border-color: #FFFFFF;
    color: #FFFFFF;
    
  }


.right{
    width: 50%;
    display: flex;
    margin-top: 100px;
}.right .large_pic{
    width: 325px;
    height: 406px;
    border-radius: 10px 10px 10px 10px;
    margin: 0px 0px 100px 100px;
    position: relative;
   right: 200px;
}

.right .small_pic{
    width: 171px;
    height: 149px;
    border-radius: 10px 10px 10px 10px;
    border: 4px solid #FFFFFF;
    position: relative;
    z-index: 1;
    margin: 288px 0px 0px 58px;

}


/* first page finish */


.second_page{
    background-color: #FFFFFF;
    
}
.aboutPage{
    display: flex;
    justify-content: center;
    align-items: center;
    ;
}
.left_two{
    max-width: 100%;
    height: 100%;
    position: relative;
    
    
}

.left_two .image{
    padding: 40px;
}
 


/* .left_two .image{
    max-width:  425px;
    left: 50%;
    transform: translate(-50%);
    top: 75px;
    border-radius: 50px ;
    position: relative;
    z-index: 2;
   
} */
.right_two{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_two .setbox{
    width:  381px;
    gap: 35px;
    opacity: 0px;
    display: grid;
    

}.setbox .line{
    width: 94px;
    height: 7px;
    background-color: #F69B25;
    

}
.setbox h2{
    font-size: 40px;
    color: #252B42;
}
.setbox p{
    font-size: 14px;
    color: #737373;
}
.setbox a{
    font-size: 14px;
    color: #1BA0AB;
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    border: solid transparent;
    padding: 10px;
    width: 150px;
}.setbox a:hover{
    
    border-color: #1BA0AB;
    border-radius: 5px;
    

}


/* second page finish */




.brand_page{
    background-color: #FFFFFF;
}

.bnd_pg_box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fa-brands {
    font-size: 75px;
    color: #737373;
    padding: 30px;
}



/* brands logo finish */



.third_page{
    background-color: #FFFFFF;
    width: 100%;
    /* height: 100%; */
    
    gap: 80px;
    opacity: 0px;
    


}
.third_page .container{
    
    background-color: #FFFFFF;
    
}
.trd_pg_box{
    /* height: 918px; */
    background-color: #FFFFFF;
    
    
}

.trd_pg_content{
    width: 80%;
    gap: 30px;
    display: grid;
    justify-content: center;
    align-items:    center ;
    margin-top: 72px;
    margin-left: 30px;
}
.trd_pg_content h6{
    font-size: 14px;
    color:  #1BA0AB;
}.trd_pg_content h2{
    font-size: 40px;
    color: #252B42;
}.trd_pg_content p{
    font-size: 14px;
    color: #737373;
    font-weight: 600;
}

.cards{
    width:100%;
    gap: 30px;
    opacity: 0px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
}




.health_queries{
    width: 300px;
    background-color: #FFFFFF;
    transition: 0.4s ease-in-out ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    

}.health_queries img{
    width: 300px;
    transition: 0.4s ease-in-out ;
    padding: 10px;
}
.book_now{
    width: 300px;
    background-color: #FFFFFF;
    transition: 0.4s ease-in-out ;
    
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    
}
.book_now img{
    width: 300px;
    transition: 0.4s ease-in-out ;
    padding: 10px;
}
.appoinment{
    width: 300px;
    background-color: #FFFFFF;
    
    transition: 0.4s ease-in-out ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    
}.appoinment img{
    width: 300px;
    transition: 0.4s ease-in-out ;
    padding: 10px;
}
.sale{
    position: absolute;
    background-color: #E74040;
    color: #ffff;
    font-size: 14px;
    padding: 3px 8px;
    /* margin: 22px 22px; */
    border-radius: 3px;
    left: 25px;
    top: 25px;
    
}
.image_div{
    position: relative;
}
.rate{
    width: 100%;
    position: absolute;
    /* margin: 243px 0px 0px 115px; */
    display: flex;
    justify-content: center;
    gap: 10px;
    bottom: 40px;
    
    
}
.rate span{
    
    background-color: #FFFFFF;
    border-radius: 0%;
    padding: 0px;
    font-size: 0px;
    transition: 0.4s ease-in-out;
   
    

}


                /* CARDS  */
                

.card_heading{
    display: flex; 
    justify-content: 
    space-between; 
    align-items: center; 
}
.cards a{
    color: #1BA0AB;
    font-size: 14px;
}
.star{
    background-color: #26335D; 
    width:50px; 
    height:26px; 
    color: #FFFFFF; 
        display: flex; 
        align-items: center; 
        font-size: 12px; 
        border-radius:20px;
        Padding:5px;
        Gap:5px;
    }
.star span{
    color: #FFCE31; 
    font-size: 18px;
}


.cards h5{
    font-size: 16px; 
}

.cards p{
    font-size: 14px;
     color: #737373;
     font-weight: 600;
    }


.sales{
    display: flex; 
     align-items: center;
     gap: 5px; 
    }
.sales h6{
    font-size: 14px; 
    color: #737373;
}
.sales span{
    color: #737373;
}

.prices{
    display: flex; 
     align-items: center;
     gap: 8px;
     }
#fst_price{
    color: #BDBDBD;
}
#snd_price{
    color: #2DC071;
}


.cards button{
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 3px; 
    color: #1BA0AB; 
    border: 1px solid #1BA0AB; 
    border-radius: 37px;
     background-color: transparent; 
    width: 141px;
    height: 44px; 
    cursor: pointer;
}

.card{display: grid;
     padding: 26px;
      row-gap: 16px;
      padding-top: 0px;
    }



/* third page finish */








.fourth_page{
    background-color: #ffffff ;
    width: 100%;  
}
.fourth_page .container{
    background-color: #ffffff;
}

.fourth_top{
    margin-top: 49px;
    margin-left: 100px; 
    height: 134px;
    display: flex;
    flex-direction: column; 
    justify-content:space-around;
}

.fourth_bottom{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 49px;
    flex-wrap: wrap;
    gap: 40px;
}
.pricing_card{
    background-color: rgb(255, 255, 255); 
    width:280px;
    /* height: 908px; */
    text-align: center;
    /* margin-top: 20px; */
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
    transition: 0.4s ease-in-out; 
}

.pricing_card .fa-heart     {
    color: #FFFFFF;
    font-size: 36px; 
    border-radius: 50%;
    background-color: #F69B25;
    width: 96px;
    height: 96px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.pricing_card h3    {
    font-size: 24px;
}
.pricing_card h6    {
    font-size: 14px; 
    color: #737373;
}
.pricing_card h2    {
    font-size: 40px;
    color: #1BA0AB;
}
.pricing_card p     {
    font-size: 14px;
    font-weight: 600; 
    color: #737373;
}
.pricing_card button    {
    background-color: #1BA0AB;
    color: #FFFFFF; 
    Padding:  15px, 40px, 15px, 40px;
    border-radius: 5px;
    border: none; 
    padding :16px; 
    width: 200px;
    cursor: pointer;
}

.pricing_card .fa-circle-check{
    font-size: 30px;
    color: #2DC071;
}

.pricing_card .tick {
    display: flex;
    gap: 7px; 
    justify-content: flex-start;
     align-items: center;
    }

#tick{
    color: #BDBDBD;
 }
.tick h6{
    color: #000 ; 
    text-align: left;
}

/* #####################################################################################################################*/

.fourth_top{

}
.fourth_top h6{
    font-size: 14px; 
    color: #1ba0ab;
}
.fourth_top h2{
    font-size: 40px;
}
.fourth_top p{
    font-size: 14px; font-weight: 500; color: #737373
}




.inside_pricing_card{
    margin: 40px 40px 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    gap: 55px;
}

.new_icon{
    background-color: #e77c40;
    color: #fff;
    border-radius: 50%;
    font-size: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    left: 225px;
    top: -40px;
}




/* #####################################################################################################################*/




/* fourth page finish */



.fifth_page
{
    background-color: #26335D;
}
.fifth_box
{
    width: 100%; ;
    display: flex;
     flex-direction: column;
     justify-content: center;
      row-gap: 80px;
}
.fifth_top
{
    Width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 35px; 
    margin-left: 35px;
}
.fifth_top h6{
    font-size: 14px; 
    color: #1ba0ab;
}.fifth_top h2{
    font-size: 40px; color: #fff
}.fifth_top P{
    font-weight: 480; 
    font-size: 14px; 
    color: #fff;
}
.fifth_bottom
{
    width: 100%; 
     display: flex;
     justify-content: center;
     flex-wrap:wrap ;
     gap: 40px;
}
.fif_card
{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width:240px; 
    background-color: #FFFFFF ;
    margin-bottom: 80px;
    transition: 0.5s;
    padding: 20px 0px;
}

.fif_card_box{
    margin: 0px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    text-align: center;
    /* height: 100%; */
}




.fif_card_box p{
    font-weight: 480; 
    font-size: 14px;
     color: #737373
}
.designer {
    display: flex;
     align-items: center; 
     gap: 10px;
}.designer img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}
.designer h6{
    font-size: 14px;
     color: #1ba0ab
}
.designer .name{
    font-weight: 480; 
    font-size: 12px; 
    color: #000000;
}


.sixth_top h6{
    font-size: 14px; 
    color: #1ba0ab;
}
.sixth_top h2{
    font-size: 40px;
    color: #252b42;
}
.sixth_top p{
    font-weight: 480; 
    font-size: 14px;
    color: #737373;
}


.sixth_bottom .mail{
    width: 688px;
    height: 58px;
    gap: 0px;
    display: flex;
    justify-content: center;
}

.sixth_bottom .input{
    width: 510px;
    height: 58px;
    font-size: 13px;
    font-weight: 500;
    border-color: rgb(190, 190, 190);
    border-style: solid;
    padding-left: 15px;
    outline: none;
    border-width: 1px 0px 1px 1px;
}
.sixth_bottom button{
    width: 138px;
    height: 58px;
    background-color: #1ba0ab;
    border: none;
    border-radius: 0px 6px 6px 0px;
    color: #fff;
}





.foot_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 40px;
}







.fa-star
{
    color: #F3CD03;
}
.fif_card i{transition: 0.5s;}
.fif_card:hover i{
    transform: scale(1.3);
    transition: 0.5s;
}






/* fifth page finish */


.sixth_box
{
    margin-bottom: 80px;width: 100%;
    display: flex; flex-direction: column; justify-content: center; row-gap: 80px;
}
.sixth_top
{
    Width:100%;Height:134px;
    display: flex;flex-direction: column;justify-content: space-around; align-items: center; text-align: center;
}
.sixth_bottom
{
    display: flex; justify-content: center;
}

/* sixth page finish */


.foot_box
{
    display: flex;
    
}

.foot_box ul li 
{
    list-style-type: none;
    margin-bottom: 10px;
    color: #737373;
    
}
.foot_box ul li a{
    font-size: 14px;
    color: #737373;
    
    
}
.foot_box h5{
    font-size: 16px;
    margin-bottom: 15px;
}

.foot_box span{
    color: #1BA0AB;
}

.foot_symbol li h6 {
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;

    
}

/* footer finish */


.right_bottom_bar i
{
    font-size: 15px;
    color: #1BA0AB;
    margin: 5px;
}




/* full page finish */

.rate span:hover
{
    background-color: #000;
    color: #FFFFFF;
    rotate: inherit;
}


.cards button:hover{
    background-color: #1BA0AB;
    color: #fff;
}
.health_queries:hover 
{
    
    background-color: #effeff;
    transform: scale(1.05);
    transition: 0.4s ease-in-out ;

    
    
}.health_queries .rate span
{
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%; 
    cursor: pointer;
}
.book_now:hover
{
    
    background-color: #effeff;
    transform: scale(1.05);
    transition: 0.4s ease-in-out ;
    
}.book_now .rate span
{
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%; 
    cursor: pointer;
}
.appoinment:hover
{
    
    background-color: #effeff;
    transform: scale(1.05);
    transition: 0.4s ease-in-out ;
    
}
.appoinment .rate span
{
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%; 
    cursor: pointer;
}



.pricing_card:hover 
{
    transform: scale(1.03);
    transition: 0.4s ease-in-out;
    box-shadow:0px 0px 10px 1px #000000  ;
    display: block;

    background-color: #26335D;
}
.pricing_card:hover h3
{
    color: #fff;
}.pricing_card:hover  h6
{
    color: #fff;
}.pricing_card:hover p
{
    color: #fff;
}.pricing_card:hover  button
{
    color: #fff;
}

.pricing_card .new_icon{
    scale: 0 !important;
    transition: 0.2s ease-in-out !important;
}
.pricing_card:hover .new_icon
{
   
    scale: 1 !important;
}
.pricing_card:hover .fa-heart 
{
    transition: 0.2s ease-in-out;
    transform: rotatey(180deg) ;
    
}

